<div class="container my-4">
    <nav class="navbar navbar-dark primary-color" style="border: 2px solid 367cec; padding: 10px; border-radius: 20px;  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.262)">
        <a class="navbar-brand" href="/">GUNVL-Complaints</a>
            <% if(isAuthenticated) { %>
            <span id="logout-btn" class="navbar-text white-text my-0 mr-4">
                <a href="/users/logout">Logout</a>
            </span>
            <% } else { %>
                <span id="logout-btn" class="navbar-text white-text my-0 mr-4">
                <a href="/users/login">Login</a>
            </span>
            <% } %>
    </nav>

    <!-- <hr class="my-5"> -->

</div>
